<div class="container login-container">
  <app-alert></app-alert>
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Login</h2>
      <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && login(loginForm)">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            ngModel
            required
            email
            #email="ngModel"
            [ngClass]="{
              'is-invalid': email.invalid && (email.dirty || email.touched)
            }"
          />
          <div *ngIf="email.invalid" class="invalid-feedback">
            <div *ngIf="email?.errors.required">Email is vereist.</div>
            <div *ngIf="email?.invalid">Email is geen geldig emailadres.</div>
          </div>
          <small *ngIf="!email.invalid" id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
            ngModel
            required
            #password="ngModel"
            [ngClass]="{
              'is-invalid': password.invalid && (password.dirty || password.touched)
            }"

          />
          <div *ngIf="password.invalid" class="invalid-feedback">
            <div *ngIf="password?.errors.required">Wachtwoord is vereist.</div>
          </div>
        </div>
        <div class="row">
        <button type="submit" id="loginSubmitButton" class="btn btn-primary col-3" [disabled]="!loginForm.valid">
          Submit
        </button>
        <div class="col-5">

        </div>
        <a
            class="nav-link col-4 text-muted"
            routerLink="/register"
            [routerLinkActive]="['active']"
            >Registreer</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
