<div class="container login-container">
  <app-alert></app-alert>
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Registreren</h2>
      <form #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && register(registerForm)">
        <div class="form-group">
          <label for="firstNameInput">Voornaam</label>
          <input
            type="text"
            class="form-control"
            id="firstNameInput"
            aria-describedby="firstnameHelp"
            name="firstname"
            ngModel
            required
            #firstname="ngModel"
            [ngClass]="{
              'is-invalid': firstname.invalid && (firstname.dirty || firstname.touched)
            }"
          />
          <div *ngIf="firstname.invalid" class="invalid-feedback">
            <div *ngIf="firstname?.errors.required">Voornaam is vereist.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastNameInput">Achternaam</label>
          <input
            type="text"
            class="form-control"
            id="lastNameInput"
            aria-describedby="lastnameHelp"
            name="lastname"
            ngModel
            required
            #lastname="ngModel"
            [ngClass]="{
              'is-invalid': lastname.invalid && (lastname.dirty || lastname.touched)
            }"
          />
          <div *ngIf="lastname.invalid" class="invalid-feedback">
            <div *ngIf="lastname?.errors.required">Achternaam is vereist.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            ngModel
            required
            email
            #email="ngModel"
            [ngClass]="{
              'is-invalid': email.invalid && (email.dirty || email.touched)
            }"
          />

          <div *ngIf="email.invalid" class="invalid-feedback">
            <div *ngIf="email?.errors.required">Email is vereist.</div>
            <div *ngIf="email?.invalid">Email is geen geldig emailadres.</div>
          </div>
          <small *ngIf="!email.invalid" id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
            ngModel
            required
            #password="ngModel"
            [ngClass]="{
              'is-invalid': password.invalid && (password.dirty || password.touched)
            }"

          />
          <div *ngIf="password.invalid" class="invalid-feedback">
            <div *ngIf="password?.errors.required">Wachtwoord is vereist.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">
          Registreren
        </button>
      </form>
    </div>
  </div>
</div>
