<div class="container">
<div class="card card-padding card-background-color">

<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>CashRegister</h3>
    <p>
      Mijn vader werkt bij een bedrijf dat kassa's en pinautomaten verkoopt, repareert en onderhoudt, zij houden hun klanten, en de kassa's en pinautomaten die deze klanten hebben, bij in een Excel bestand.
      Maar het sorteren van de klanten op klantnaam, de soort kassa's en pinautomaten die ze hebben is hierbij niet optimaal.
      Vandaar dat ik bedacht dat ik daar net zo goed mijn applicatie voor kon maken, misschien gaat hij nog wel gebruikt worden..
      Klanten zijn hier geen personen maar bedrijven.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
        src="assets/images/person.png"
        class="card-img-top rounded-circle border profile-pic"
        alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Noah Korten</h5>
        <p class="card-text">
          Studentnummer: 2153017
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Klant</p>
    <ul>
      <li>bedrijfsnaam: string</li>
      <li>plaats: string</li>
      <li>straat: string</li>
      <li>huisnummer: string</li>
      <li>telefoonnummer: string</li>
      <li>emailadres: string</li>
      <li>pinautomaten: Array van Pinautomaat objecten (embedded in Klant)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Pinautomaat</p>
    <ul>
      <li>model: string</li>
      <li>TMS: number</li>
      <li>serienummer: number</li>
      <li>PSA: boolean (servicecontract ja of nee)</li>
      <li>gekochtbijons: boolean</li>
      <li>ipadres: string</li>
      <li>staat: Staat (enum: nieuw, overgezet of tweedehands)</li>
      <li>koppelingstype: Koppelingstype (enum, ITS of serieel of geen)</li>
      <li>netwerkkassa: boolean</li>
      <li>wifi: boolean</li>
      <li>4G: boolean</li>
      <li>notitie: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Reparaties</p>
    <ul>
      <li>titel: string</li>
      <li>id: number</li>
      <li>beschrijving: string</li>
      <li>klant: Klant</li>
      <li>pinautomaat: Pinautomaat</li>
      <li>datum: date</li>
    </ul>
  </div>
  <img
        src="assets/images/ERD.png"
        class="card-img-top"
        alt="ERD"
        />
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>

</div>
</div>
