<table class="table" id="tableCustomers">
  <thead>
    <tr>
      <th scope="col" id="NameColumn">Naam</th>
      <th scope="col">Stad</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngIf="isAuthenticated == 'true'">
    <tr *ngFor="let customer of customers$ | async">
      <td scope="row" id="ListCompanyName">{{ customer.companyname }}</td>
      <td scope="row">{{ customer.city }}</td>
      <td>
        <a routerLink="{{ customer._id }}" class="btn btn-primary" id="DetailButton">Details</a>
      </td>
    </tr>
  </tbody>
</table>
  <div *ngIf="isAuthenticated == 'false'">
    <div class="center">
      <b>Log aub in om de pinautomaten te kunnen zien</b>
    </div>
  </div>

  <div>
    <a routerLink="/customers/create" id="addCustomer" class="btn-primary btn">Klant toevoegen</a>
  </div>
