<div class="sticky-component">
  <div class="row">
    <div class="col">
      <h2>{{ title }}</h2>
    </div>
  </div>

  <form
    *ngIf="repair"
    #repairEditForm="ngForm"
    name="form"
    (ngSubmit)="repairEditForm.form.valid && onSubmit()"
    novalidate
  >
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-6">
        <label for="title">Titel</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="repair.title"
          name="title"
          #title="ngModel"
          [ngClass]="{
            'is-invalid': title.invalid && (title.dirty || title.touched)
          }"
          required
          minlength="3"
        />
        <div *ngIf="title.invalid && title.touched" class="invalid-feedback">
          <div *ngIf="title?.errors.required">Titel is vereist</div>
          <div *ngIf="title?.errors.minlength">Titel moet ten minste 3 karakters lang zijn.</div>
        </div>
      </div>

      <div class="form-group col-sm-12 col-lg-6">
        <label for="description">Beschrijving</label>
        <input
          type="text"
          class="form-control"
          name="description"
          [(ngModel)]="repair.description"
          #description="ngModel"
          [ngClass]="{
            'is-invalid': description.invalid && (description.dirty || description.touched)
          }"
          required
        />
        <div *ngIf="description.invalid && description.touched" class="invalid-feedback">
          <div *ngIf="description?.errors.required">Beschrijving is vereist</div>
        </div>
      </div>
    </div>

    <div class="form-row align-items-right">
      <div class="col-auto">
        <div class="form-group float-right">
          <button type="button" class="btn btn-spacing btn-outline-warning float-right" routerLink="..">
            Cancel
          </button>
          <button type="submit" class="btn btn-success mr-1 float-right" [disabled]="!repairEditForm.valid">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

