<div *ngIf="payterminal" class="row">
  <div class="col-md-4">
  <h1>{{payterminal.model}}</h1>
  <p>TMS: {{payterminal.TMS}}</p>
  <p>Serienummer: {{payterminal.serialnumber}}</p>
  <p>Gebruikt: {{payterminal.condition}}</p>
  <p>Koppelingstype: {{payterminal.connectiontype}}</p>
  <p>Ipadress: {{payterminal.ipadress}}</p>
  <p>4G: {{payterminal.fourg? "Ja": "Nee"}}</p>
  <p>Wifi: {{payterminal.wifi? "Ja": "Nee"}}</p>
  <p>Netwerkkassa: {{payterminal.networkcashregister? "Ja": "Nee"}}</p>
  <p>Bij ons gekocht: {{payterminal.boughtfromus? "Ja": "Nee"}}</p>
  <p>PSA: {{payterminal.PSA? "Ja": "Nee"}}</p>
  <p>Notitie: {{payterminal.note}}</p>
  <button class="btn btn-primary mr-1" (click)="delete()">Verwijder pinautomaat</button>
  <a routerLink="update" class="btn-primary btn">Bewerken</a>
  <a routerLink="repairs/create" class="btn-primary btn">Reparatie toevoegen</a>
  </div>

  <div class="col-md-8">
    <h3>Reparaties</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Titel</th>
          <th scope="col">Beschrijving</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let repair of payterminal.repairs">
          <td>
            <a routerLink="repairs/{{repair._id}}">{{ repair.title }}</a>
          </td>
          <td scope="row">{{ repair.description }}</td>
        </tr>
      </tbody>



    </table>


  </div>

</div>


