<div *ngIf="repair" class="row">
  <div class="col-md-4">
  <h1>{{repair.title}}</h1>
  <p>{{repair.description}}</p>
  <p>{{repair.date}}</p>

  <!-- <button class="btn btn-primary mr-1" (click)="delete()">Verwijder pinautomaat</button> -->
  <a routerLink="update" class="btn-primary btn mr-1">Bewerken</a>
  <button class="btn btn-primary mr-1" (click)="delete()">Verwijder repair</button>
  </div>

</div>


