<div *ngIf="customer" class="sticky-component">
  <div class="row">
    <div class="col">
      <h2>{{ title }}</h2>
    </div>
  </div>

  <form

    #customerEditForm="ngForm"
    name="form"
    (ngSubmit)="customerEditForm.form.valid && onSubmit()"
    novalidate
  >
   <div class="form-row">
      <!-- <div class="form-group col-sm-12 col-lg-6">
        <label for="companyname">Bedrijfsnaam</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="customer.companyname"
          name="companyname"
          #model="ngModel"
          [ngClass]="{
            'is-invalid': companyname.invalid && (companyname.dirty || companyname.touched)
          }"
          required
          minlength="3"
        />
        <div *ngIf="companyname.invalid && companyname.touched" class="invalid-feedback">
          <div *ngIf="companyname?.errors.required">Bedrijfsnaam is vereist</div>
          <div *ngIf="companyname?.errors.minlength">Bedrijfsnaam moet ten minste 3 karakters lang zijn.</div>
        </div>
      </div> -->
      <div class="form-group col-sm-12 col-lg-6">
        <label for="companyname">Bedrijfsnaam</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="customer.companyname"
          id="InputCompanyname"
          name="companyname"
          #companyname="ngModel"
          required
          minlength="3"
        />
      </div>
      <div class="form-group col-sm-12 col-lg-6">
          <label for="city">Stad</label>
          <input
            type="text"
            class="form-control"
            id="InputCity"
            name="city"
            [(ngModel)]="customer.city"
            #city="ngModel"
            [ngClass]="{
              'is-invalid': city.invalid && (city.dirty || city.touched)
            }"
            required
          />
          <div *ngIf="city.invalid && city.touched" class="invalid-feedback">
            <div *ngIf="city?.errors.required">Stad is vereist</div>
          </div>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-6">
            <label for="street">Straat</label>
            <input
              type="text"
              class="form-control"
              id="InputStreet"
              name="street"
              [(ngModel)]="customer.street"
              #street="ngModel"
              [ngClass]="{
                'is-invalid': street.invalid && (street.dirty || street.touched)
              }"
              required
            />
            <div *ngIf="street.invalid && street.touched" class="invalid-feedback">
              <div *ngIf="street?.errors.required">Straat is vereist</div>
            </div>
          </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-12">
          <label for="housenumber">Huisnummer</label>
          <input
            type="number"
            class="form-control"
            id="InputHousenumber"
            name="housenumber"
            [(ngModel)]="customer.housenumber"
            #housenumber="ngModel"
            housenumber
            [ngClass]="{
              'is-invalid': housenumber.invalid && (housenumber.dirty || housenumber.touched)
            }"
            required
          />
          <div *ngIf="housenumber.invalid" class="invalid-feedback">
            <div *ngIf="housenumber?.errors.required">Huisnummer is vereist.</div>
          </div>
        </div>
      </div>


      <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="phonenumber">Telefoonnummer</label>
        <input
          type="tel"
          class="form-control"
          id="InputPhonenumber"
          name="phonenumber"
          [(ngModel)]="customer.phonenumber"
          #phonenumber="ngModel"
          phonenumber
          [ngClass]="{
            'is-invalid': phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)
          }"
          required
        />
        <div *ngIf="phonenumber.invalid" class="invalid-feedback">
          <div *ngIf="phonenumber?.errors.required">Telefoonnummer is vereist.</div>
        </div>
      </div>
      </div>



    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="email">Emailadres</label>
        <input
          type="email"
          class="form-control"
          id="InputEmail"
          name="email"
          [(ngModel)]="customer.email"
          #email="ngModel"
          email
          [ngClass]="{
            'is-invalid': email.invalid && (email.dirty || email.touched)
          }"
          required
        />
        <div *ngIf="email.invalid" class="invalid-feedback">
          <div *ngIf="email?.errors.required">Email is vereist.</div>
        </div>
      </div>
    </div>

    <div class="form-row align-items-right">
      <div class="col-auto">
        <div class="form-group float-right">
          <button type="button" class="btn btn-spacing btn-outline-warning float-right" routerLink="..">
            Cancel
          </button>
          <button type="submit" id="submitEditCustomer" class="btn btn-success mr-1 float-right" [disabled]="!customerEditForm.valid">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

