<table class="table">
  <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">TMS</th>
      <th scope="col">Serienummer</th>
      <th scope="col">PSA</th>
      <th scope="col">Bij ons gekocht</th>
    </tr>
  </thead>
  <tbody *ngIf="isAuthenticated == 'true'">
    <tr *ngFor="let payterminal of payterminals$ | async">
      <th scope="row">{{ payterminal.model }}</th>
      <td>
        <a routerLink="{{ payterminal._id }}">{{ payterminal.TMS }}</a>
      </td>
      <td>{{ payterminal.serialnumber }}</td>
      <td>{{ payterminal.PSA ? "Ja" : "Nee" }}</td>
      <td>{{ payterminal.boughtfromus ? "Ja" : "Nee" }}</td>
    </tr>
  </tbody>
</table>
  <div *ngIf="isAuthenticated == 'false'">
    <div class="center">
      <b>Log aub in om de pinautomaten te kunnen zien</b>
    </div>
  </div>




