<div class="sticky-component">
  <div class="row">
    <div class="col">
      <h2>{{ title }}</h2>
    </div>
  </div>

  <form
    *ngIf="payterminal"
    #payterminalEditForm="ngForm"
    name="form"
    (ngSubmit)="payterminalEditForm.form.valid && onSubmit()"
    novalidate
  >
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-6">
        <label for="model">Model</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="payterminal.model"
          name="model"
          #model="ngModel"
          [ngClass]="{
            'is-invalid': model.invalid && (model.dirty || model.touched)
          }"
          required
          minlength="3"
        />
        <div *ngIf="model.invalid && model.touched" class="invalid-feedback">
          <div *ngIf="model?.errors.required">Model is vereist</div>
          <div *ngIf="model?.errors.minlength">Model moet ten minste 3 karakters lang zijn.</div>
        </div>
      </div>

      <div class="form-group col-sm-12 col-lg-6">
        <label for="TMS">TMS</label>
        <input
          type="number"
          class="form-control"
          name="TMS"
          [(ngModel)]="payterminal.TMS"
          #TMS="ngModel"
          [ngClass]="{
            'is-invalid': TMS.invalid && (TMS.dirty || TMS.touched)
          }"
          required
        />
        <div *ngIf="TMS.invalid && TMS.touched" class="invalid-feedback">
          <div *ngIf="TMS?.errors.required">TMS is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="connectiontype">Koppelingstype</label>
        <div class="form-group col-lg-12">
          <!-- ITS connectiontype -->
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="connectiontypeITS"
              name="connectiontype"
              class="custom-control-input"
              [(ngModel)]="payterminal.connectiontype"
              #connectiontype="ngModel"
              value="ITS"
            />
            <label class="custom-control-label" for="connectiontypeITS">ITS</label>
          </div>
          <!-- Serieel connectiontype -->
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="connectiontypeSerieel"
              name="connectiontype"
              class="custom-control-input"
              [(ngModel)]="payterminal.connectiontype"
              #connectiontype="ngModel"
              value="Serieel"
            />
            <label class="custom-control-label" for="connectiontypeSerieel">Serieel</label>
          </div>
          <!-- Geen connectiontype -->
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="connectiontypeGeen"
              name="connectiontype"
              class="custom-control-input"
              [(ngModel)]="payterminal.connectiontype"
              #connectiontype="ngModel"
              value="Geen"
            />
            <label class="custom-control-label" for="connectiontypeGeen">Geen</label>
          </div>
        </div>
      </div>

      <div class="form-group col-lg-6">
        <label for="condition">Staat</label>
        <div class="form-group col-lg-12">
          <!-- Nieuw -->
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="conditionNieuw"
              name="condition"
              class="custom-control-input"
              [(ngModel)]="payterminal.condition"
              #condition="ngModel"
              value="Nieuw"
            />
            <label class="custom-control-label" for="conditionNieuw">Nieuw</label>
          </div>
          <!-- Overgezet -->
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="conditionOvergezet"
              name="condition"
              class="custom-control-input"
              [(ngModel)]="payterminal.condition"
              #condition="ngModel"
              value="Overgezet"
            />
            <label class="custom-control-label" for="conditionOvergezet">Overgezet</label>
          </div>
          <!-- Tweedehands -->
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="conditionTweedehands"
              name="condition"
              class="custom-control-input"
              [(ngModel)]="payterminal.condition"
              #condition="ngModel"
              value="Tweedehands"
            />
            <label class="custom-control-label" for="conditionTweedehands">Tweedehands</label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="serialnumber">Serienummer</label>
        <input
          type="text"
          class="form-control"
          name="serialnumber"
          [(ngModel)]="payterminal.serialnumber"
          #serialnumber="ngModel"
          serialnumber
          [ngClass]="{
            'is-invalid': serialnumber.invalid && (serialnumber.dirty || serialnumber.touched)
          }"
          required
        />
        <div *ngIf="serialnumber.invalid" class="invalid-feedback">
          <div *ngIf="serialnumber?.errors.required">Serienummer is vereist.</div>
        </div>
      </div>
    </div>



    <div class="form-row">
      <div class="form-group col-lg-2">
        <label for="PSA">PSA</label>
        <input
          type="checkbox"
          class="form-control"
          name="PSA"
          [(ngModel)]="payterminal.PSA"
          #PSA="ngModel"
          PSA
          [ngClass]="{
            'is-invalid': PSA.invalid && (PSA.dirty || PSA.touched)
          }"
        />
      </div>
      <div class="col-lg-2">
      </div>
      <div class="form-group col-lg-2">
        <label for="boughtfromus">Gekocht bij ons</label>
        <input
          type="checkbox"
          class="form-control"
          name="boughtfromus"
          [(ngModel)]="payterminal.boughtfromus"
          #boughtfromus="ngModel"
          boughtfromus
          [ngClass]="{
            'is-invalid': boughtfromus.invalid && (boughtfromus.dirty || boughtfromus.touched)
          }"
        />
      </div>
      <div class="col-lg-2">
      </div>
      <div class="form-group col-lg-2">
        <label for="networkcashregister">Netwerkkassa</label>
        <input
          type="checkbox"
          class="form-control"
          name="networkcashregister"
          [(ngModel)]="payterminal.networkcashregister"
          #networkcashregister="ngModel"
          networkcashregister
          [ngClass]="{
            'is-invalid': networkcashregister.invalid && (networkcashregister.dirty || networkcashregister.touched)
          }"
        />
      </div>
    </div>

 <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="ipadress">Ipadress</label>
        <input
          type="text"
          class="form-control"
          name="ipadress"
          [(ngModel)]="payterminal.ipadress"
          #ipadress="ngModel"
          ipadress
          [ngClass]="{
            'is-invalid': ipadress.invalid && (ipadress.dirty || ipadress.touched)
          }"
        />
        <div *ngIf="ipadress.invalid" class="invalid-feedback">
        </div>
      </div>



      <div class="form-group col-lg-2">
        <label for="wifi">Wifi</label>
        <input
          type="checkbox"
          class="form-control"
          name="wifi"
          [(ngModel)]="payterminal.wifi"
          #wifi="ngModel"
          wifi
          [ngClass]="{
            'is-invalid': wifi.invalid && (wifi.dirty || wifi.touched)
          }"
        />
        </div>

        <div class="col-lg-1">
        </div>
        <div class="form-group col-lg-2">
          <label for="fourg">4G</label>
          <input
            type="checkbox"
            class="form-control"
            name="fourg"
            [(ngModel)]="payterminal.fourg"
            #fourg="ngModel"
            fourg
            [ngClass]="{
              'is-invalid': fourg.invalid && (fourg.dirty || fourg.touched)
            }"
          />
        </div>
    </div>


    <!-- <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="birthdate">Birthdate</label>
        <div class="input-group">
          <input
            class="form-control"
            name="birthdate"
            [(ngModel)]="dob"
            ngbDatepicker
            #birthdate="ngbDatepicker"
            data-date-format="DD-MM-YYYY"
            [ngClass]="{
              'is-invalid': birthdate.invalid && (birthdate.dirty || birthdate.touched)
            }"
            required
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="birthdate.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Updated -->
    <!-- <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Gebruikt</label>
        <select
          class="custom-select mr-sm-2"
          id="inlineFormCustomSelect"
          name="condition"
          [(ngModel)]="payterminal.condition"
          #condition="ngModel"
        >
          <option selected>Choose...</option>
          <option *ngFor="let cond of condition" [value]="cond.gebruikt">
            {{ cond.gebruikt }}
          </option>
        </select>
      </div>
    </div> -->

    <div class="form-row align-items-right">
      <div class="col-auto">
        <div class="form-group float-right">
          <button type="button" class="btn btn-spacing btn-outline-warning float-right" routerLink="..">
            Cancel
          </button>
          <button type="submit" class="btn btn-success mr-1 float-right" [disabled]="!payterminalEditForm.valid">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!--
<div class="card" *ngIf="payterminal">
  <div class="card-body">
    <pre
      >{{ payterminal | json }}
    </pre>
  </div>
</div> -->
