<section class="jumbotron text-center">
  <div class="container">
    <h1>Welkom bij Cashregister</h1>
    <p class="lead text-muted">
      De interne tool voor het bijhouden van klanten, pinautomaten en reparaties.
    </p>
    <p>
      <a
            class="nav-link btn-primary btn my-2"
            routerLink="/customers"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Klanten</a
          >
          <a
          class="nav-link btn btn-secondary my-2"
          routerLink="/about"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
    </p>
  </div>
</section>
