<div *ngIf="customer" class="row">
  <div class="col-md-4">
  <h1>{{customer.companyname}}</h1>
  <p>Stad: {{customer.city}}</p>
  <p>Email: {{customer.email}}</p>
  <p>Telefoonnummer: {{customer.phonenumber}}</p>
  <p>Straat: {{customer.street}}</p>
  <p>Huisnummer: {{customer.housenumber}}</p>
  <button class="btn btn-primary mr-1" (click)="delete()">Verwijder klant</button>
  <a routerLink="/customers/{{customer._id}}/update" id="EditCustomer" class="btn-primary btn mr-1">Bewerken</a>
  <a routerLink="/customers/{{customer._id}}/payterminals/create" class="btn-primary btn">Pinautomaat toevoegen</a>
  </div>

  <div class="col-md-8">
    <h3>Pinautomaten</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">TMS</th>
          <th scope="col">Model</th>
          <th scope="col">Serienummer</th>
          <th scope="col">PSA</th>
          <th scope="col">Bij ons gekocht</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let payterminal of customer.payterminals">
          <td>
            <a routerLink="payterminals/{{payterminal._id}}">{{ payterminal.TMS }}</a>
          </td>
          <td scope="row">{{ payterminal.model }}</td>
          <td scope="row">{{payterminal.serialnumber}}</td>
          <td scope="row">{{payterminal.PSA? "Ja": "Nee"}}</td>
          <td scope="row">{{payterminal.boughtfromus? "Ja": "Nee"}}</td>

        </tr>
      </tbody>



    </table>


  </div>

</div>


